body { font-family: "segoe ui", "helvetica", "verdana", "sans-serif"; }

/* http://kuler.adobe.com/#themeID/960728
 *
 * achtergrond1:2F3E40 (donker blauw)
 * achtergrond2:357363 (licht blauw)
 * voorgrond:EFF28B (licht oranje)
 * accent1:9AE54E (licht groen)
 * accent2:FF8E30 (fel oranje)
 */
.background1 { background: #2F3E40; }
.background2 { background: #357363; }
.background3 { background: #EFF28B; }
.background4 { background: #9AE54E; }
.background5 { background: #FF8E30; }

.color1 { color: #2F3E40; }
.color2 { color: #357363; }
.color3 { color: #EFF28B; }
.color4 { color: #9AE54E; }
.color5 { color: #FF8E30; }

.border1 { border: solid 1px #2F3E40; }
.border2 { border: solid 1px #357363; }
.border3 { border: solid 1px #EFF28B; }
.border4 { border: solid 1px #9AE54E; }
.border5 { border: solid 1px #FF8E30; }

a       { color: #EFF28B; } 
a:hover { color: #FF8E30; } 

#playlist .current { color: #FF8E30; }

/* http://kuler.adobe.com/#themeID/933416 
 *
 * achtergrond:668E84(blauw) 
 * achtergrond2:665130(bruin) 
 * voorgrond:CEDAA8(blauwig wit) 
 * accent1:EBB643(licht oranje) 
 * accent2:FF7500(fel oranje)
 * /
.background1 { background: #668E84; }
.background2 { background: #665130; }
.background3 { background: #CEDAA8; }
.background4 { background: #EBB643; }
.background5 { background: #FF7500; }

.color1 { color: #668E84; }
.color2 { color: #665130; }
.color3 { color: #CEDAA8; }
.color4 { color: #EBB643; }
.color5 { color: #FF7500; }

.border1 { border: solid 1px #668E84; }
.border2 { border: solid 1px #665130; }
.border3 { border: solid 1px #CEDAA8; }
.border4 { border: solid 1px #EBB643; }
.border5 { border: solid 1px #FF7500; }

a       { color: #CEDAA8; } 
a:hover { color: #EBB643; } 

#playlist.current { color: #FF7500; }

/**/

a { text-decoration: none; }
a:hover { text-decoration: underline; }
body { font-size: .8em; }

.rounded { border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }

.h-dragdealer { position: relative; height: 20px; }
.h-dragdealer .h-handle { position: absolute; cursor: pointer; text-align: center; }
.h-dragdealer .h-handle { height: 20px; width: 70px; line-height: 20px; }

.v-dragdealer { position: absolute; width: 17px; top: 0px; bottom: 0px; right: 0px; }
.v-dragdealer .v-handle { position: absolute; cursor: pointer; text-align: center; }
.v-dragdealer .v-handle { height: 70px; width: 17px; }

#library  { overflow: hidden; position: absolute; left: 10px; top: 10px; bottom: 10px; width: 300px; }
#playlist { overflow: hidden; position: absolute; right: 10px; bottom: 320px; width: 300px; top: 10px; }
#main{ overflow: auto; position: absolute; left: 320px; right: 320px; top: 10px; bottom: 160px; }
#player  { overflow: hidden; position: absolute; left: 320px; right: 320px; bottom: 10px; height: 140px; }
#player .player { margin-left: 1%; margin-top: 1%; margin-right: 1%; }
#player .time { position: relative; margin-top: 5px; }
#player .volume { position: relative; margin-top: 5px; }
#player .icons { text-align: center; }
#player .info { text-align: center; }
#cover    { overflow: hidden; position: absolute; right: 10px; bottom: 10px; height: 300px; width: 300px; }
#cover img { width: 100%; height: 100%; }
#library .arrow { font-family: "sans-serif"; cursor: pointer; }
#library .album { margin-left: 1.2em; display: none; }
#library .track { margin-left: 1.4em; display: none; }
#library .collapsed { display: none; }
#library .visible { display: block; }
#library .artist-name:hover, 
#library .album-name:hover, 
#library .track-name:hover { text-decoration: underline; cursor: pointer; }
#library .album-name,
#library .track-name { text-decoration: none; }
#library .arrow { cursor: pointer; }

#playlist .current { font-weight: bold; }

#cover #coverimage { width: 100%; height: 100%; margin: 0; padding: 0; border: 0px; outline: 0px; }

#login input { display: block; }

.tabcontrol .names .selected { font-weight: bold; }
.tabcontrol .names { outline: solid 1px; }
.tabcontrol .names span { outline: solid 1px; margin: 0; padding-right: 0px; }
.tabcontrol .content div { display: none; }
.tabcontrol .content div.selected { display: block; }

